.icon-times:before {
	content: "\e900";
}
.icon-tick:before {
	content: "\e901";
}
.icon-home:before {
	content: "\e902";
}
.icon-delete:before {
	content: "\e903";
}
.icon-info-large:before {
	content: "\e904";
}
.icon-calender:before {
	content: "\e905";
}
.icon-home-outline:before {
	content: "\e906";
}
.icon-trash:before {
	content: "\e907";
}
.icon-message:before {
	content: "\e908";
}
.icon-link-outline:before {
	content: "\e909";
}
.icon-star-outline:before {
	content: "\e90a";
}
.icon-attachment-outline:before {
	content: "\e90b";
}
.icon-user-outline:before {
	content: "\e90c";
}
.icon-lock-closed-outline:before {
	content: "\e90d";
}
.icon-power-outline:before {
	content: "\e90e";
}
.icon-social-facebook-circular:before {
	content: "\e910";
}
.icon-leaf:before {
	content: "\e90f";
}