extends layout

block content
	.container
		.login
			h2 Login
			form(class='form-signin', action='/login', method='POST')
				input(type='text', name='username', placeholder='Username', required, autofocus)
				input(type='password', name='password', placeholder='Password', required)
				button(type='submit') Sigin

			if message
				#message #{message}
